.noteOverview {
    display: flex;
    flex-direction: column;
    max-width: min(450px, 30%);
    padding: 2%;
    gap: 15px;
    overflow-y: auto;
    border-right: 1px solid rgb(189, 189, 189);
}

.tags {
    background-color: rgb(175, 175, 175);
    border-radius: 20%;
    padding: 2%;
}

.addNotes {
    background-color: rgb(230, 230, 230);
    padding: 4%;
    border-radius: 15px;
}

.tagsList {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

:host {
    display: flex;
    flex-grow: 0;
    height: 100%;
}

ul {
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.notes {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.notes:hover {
    background-color: rgb(241, 241, 241);
}

button[primaryButton] {
    min-height: 40px;
}