<body>
  <span class="sidebar">
  
    <div class ="logo">
      <img src="feather.svg" width="50px" height="50px" fill="blue">
      <p>Notes</p>
    </div>
  
    <div class="navigation">
      <button sidebutton path="home-circle-outline.svg" title="Home"></button>
      <button sidebutton path="archive-arrow-down-outline.svg" title="Archive"></button>
    </div>
  
    <hr>
  
    <div class="tags">
      <h3 (click)="pushRand()">Tags</h3>
      <div class="tagsList">
        @if(tags.length >= 1) {
          @for(tag of tags; track tag) {
            <button sidebutton path="tag.svg" [title]="tag"></button>
          }
        } @else {
          <p>Add tags to display</p>
        }
      </div>
    </div>
  
  </span>
  
  <main>
    <div class="header">
      <h2>All Notes</h2>
      <input class="searchField" type="text" placeholder="Search by title, content or tags...">
    </div>
    
    <app-notes-items></app-notes-items>
   
  
  </main>
</body>