:host {
    padding: 4%;
    display: flex;
    flex: 1;
    max-width: 80%;
}

.flexForm {
    flex: 1;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}

input {
    padding: 0;
    margin: 0;
}


.textarea {
    flex: 1;
    max-height: 500px;
    resize: none;
    width: 100%;
}

.line {
    display: flex;
    width: 100%;
    gap: 10%;
}



.inputs {
    width: 100%;
}

.inputClass {
    flex: 1;
    padding: 0.5%;
    border-radius: 5px;
    border-color: rgb(207, 207, 207);
    border-style: solid;
    outline: none;
}

.buttonForm {
    align-self: flex-start;
    display: flex;
    flex: 1;
    width: 100%;
    max-height: 50px;
    gap: 2%;
}

.cancelButton {
    background-color:  rgb(160, 160, 160);
    border-color: rgb(160, 160, 160);
    height: 40px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding: 0 10px;
    transition: 0.1s transform;
}

.cancelButton:hover {
    transform: scale(1.1);
    background-color: rgb(185, 185, 185);
}

button {
    flex: 1;
    max-width: 200px;
    min-height: 50px;
}

.titleInput {
    border: none;
    flex: 1;
    width: 100%;
    color: black;
    font-size: 2rem;
    font-weight: bolder;
    border-bottom: 2px solid rgb(190, 190, 190);

}
